html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}


div.main_image_wrapper {
	width: 100%;
	height: 100%;
  white-space: nowrap;
  text-align: center; 
	margin: 0;
	margin: auto;
}

.middle_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.main_image_wrapper img {
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-50%; bottom:-50%;
    left:-50%; right:-50%;
    margin:auto;


  -webkit-transition: opacity 1s ease-in-out;
/*
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
*/
}


.transparent {
	opacity: 0;
  -webkit-animation: slideshow 1s ease-in-out alternate;
  -moz-animation:    slideshow 1s linear infinite;

}

@-webkit-keyframes slideshow {
  0%    { bottom: -50%; }
  100%  { bottom: -500%; }
}
@moz-keyframes slideshow {
  0%    { left: -50%; }
  100%  { left: -500%; }
}
